{
    "rules":
    {
        "block-scoped-var": "error",
        "camelcase": "warn",
        "comma-dangle": ["error", "always-multiline"],
        "consistent-return": "error",
        "curly": "error",
        "default-case": "error",
        "eqeqeq": "error",
        "guard-for-in": "error",
        "no-alert": "error",
        "no-console": "warn",
        "no-else-return": "error",
        "no-empty-function": "error",
        "no-eval": "error",
        "no-eq-null": "error",
        "no-extend-native": "warn",
        "no-extra-bind": "error",
        "no-loop-func": "error",
        "no-magic-numbers": ["warn", {"ignore": [0, 1, -1], "ignoreArrayIndexes": true}],
        "no-multiple-empty-lines": ["warn", {"max": 1}],
        "no-multi-spaces": "warn",
        "no-new": "error",
        "no-new-func": "error",
        "no-new-wrappers": "error",
        "no-unused-expressions": "error",
        "no-useless-concat": "error",
        "no-undef-init": "error",
        "no-underscore-dangle": "error",
        "no-param-reassign": "error",
        "no-self-compare": "error",
        "no-void": "error",
        "no-with": "error",
        "one-var": "error",
        "quotes": ["warn", "double"],
        "semi": "error",
        "strict": "error",
        "vars-on-top": "error",
        "yoda": "error"
    },
    "env":
    {
        "es6": true,
        "browser": true
    },
    "extends": "eslint:recommended"
}